<h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.title }}</a></h1>
{% assign authorCount = page.authors | size %}
{% capture read_time %}
{{ page.content | number_of_words | divided_by: 180 }}
{% endcapture %}
<p>
    le {% assign m = page.date | date: "%-m" %}
    {{ page.date | date: "%-d" }}
    {% case m %}
    {% when '1' %}janvier
    {% when '2' %}février
    {% when '3' %}mars
    {% when '4' %}avril
    {% when '5' %}mai
    {% when '6' %}juin
    {% when '7' %}juillet
    {% when '8' %}août
    {% when '9' %}septembre
    {% when '10' %}octobre
    {% when '11' %}novembre
    {% when '12' %}décembre
    {% endcase %}
    {{ page.date | date: "%Y" }}, par <span class="author">
	    {% if authorCount == 0 %}
    		iroco
	    {% else %}
                {% for author_id in page.authors %}
		    {% assign author = site.authors | where: 'name', author_id | first %}
                    {% if forloop.first %}
                       <a href="{{ author.url }}">{{ author.display_name }}</a>
                    {% elsif forloop.last %}
                       et <a href="{{ author.url }}">{{ author.display_name }}</a>
                    {% else %}
                       , <a href="{{ author.url }}">{{ author.display_name }}</a> 
                    {% endif %}
                {% endfor %}
	    {% endif %} -</span>
    {% if read_time != '0' %}
        {{ read_time }}
    {% else %}
        1
    {% endif %} min de lecture
</span>
</p>
<p class="tags">
    {% for category in page.categories %}
        <a href="{{ site.baseurl }}/categories#{{ category }}-ref">
            <span class="tag tag-category">{{ category }}</span>
        </a>
    {% endfor %}

    {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags#{{ tag }}-ref">
            <span class="tag tag-tag">{{ tag }}</span>
        </a>
    {% endfor %}
</p>
<div class="post-content">
    {{ content }}
</div>
