{% comment %}
Enable mermaid diagrams support from code snippets.
What is mermaidjs? -> https://mermaid.js.org/intro/

Example of usage :

```mermaid
graph TD;
A-->B;
A-->C;
B-->D;
C-->D;
```

{% endcomment %}
<script src="/assets/js/mermaid-10.9.1.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        mermaid.initialize({
            startOnLoad:true,
            theme: "default",
        });
        window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    });
</script>
