---
layout: default
---
<!-- Just some nice to have styles for the pager buttons -->
<style>
  ul.pager { text-align: center; list-style: none; }
  ul.pager li {display: inline;border: 1px solid black; padding: 10px; margin: 5px;}
</style>

<div class="home">

  {% for post in paginator.posts %}
    {% assign author_name = post.author.display_name %}
    <div class="article">
        <div class="well">
            <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
    <p>
    le
    {% assign m = post.date | date: "%-m" %}
    {{ post.date | date: "%-d" }}
    {% case m %}
      {% when '1' %}janvier
      {% when '2' %}février
      {% when '3' %}mars
      {% when '4' %}avril
      {% when '5' %}mai
      {% when '6' %}juin
     {% when '7' %}juillet
      {% when '8' %}août
      {% when '9' %}septembre
      {% when '10' %}octobre
      {% when '11' %}novembre
      {% when '12' %}décembre
    {% endcase %}
    {{ post.date | date: "%Y" }}, par <span class="author"><a href="{{ site.baseurl }}/author/{{ site.data.authors[author_name].short }}/">{{ author_name }}</a></span>
    </p>
            <div class="content">
              {% if forloop.index  == 1 %}
                {{ post.content }}
            {% else %}
                {{ post.excerpt }}
            {% endif %}
            </div>
        </div>
    </div>
  {% endfor %}
  
  <!-- 
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Articles plus récents</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Articles plus anciens &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
